#page-title {
    font-size: 40px;
    font-family: "Times New Roman";
}

.stripe.top {
    background-color: #FF9933; 
}

.stripe.middle {
    background-color: white;   
}

.stripe.bottom {
    background-color: rgb(19, 136, 8); 
}